In [3]:
import pandas as pd

melbourne_file_path = '/Users/chauncey_chen/Kaggle-Challenge-Pica/Shanghao Learning/data/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
print(melbourne_data.columns)

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [4]:
melbourne_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

## 1. Selecting a Single Column

In [5]:
# store the series of prices separately as melbourne_price_data.
melbourne_price_data = melbourne_data.Price
# the head command returns the top few lines of data.
print(melbourne_price_data.head())

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

## 2. Selecting Multiple Columns

In [6]:
columns_of_interest = ['Landsize', 'BuildingArea']
two_columns_of_data = melbourne_data[columns_of_interest]

two_columns_of_data.describe()

            Landsize  BuildingArea
count   13580.000000   7130.000000
mean      558.416127    151.967650
std      3990.669241    541.014538
min         0.000000      0.000000
25%       177.000000     93.000000
50%       440.000000    126.000000
75%       651.000000    174.000000
max    433014.000000  44515.000000

#### 1. Print a list of the columns

In [17]:
# print first columns
melbourne_data['Suburb'].head()

0    Abbotsford
1    Abbotsford
2    Abbotsford
3    Abbotsford
4    Abbotsford
Name: Suburb, dtype: object

#### 2. From the list of columns, find a name of the column with the sales prices of the homes. Use the dot notation to extract this to a variable (as you saw above to create melbourne_price_data.)

In [18]:
sale_prize = melbourne_data.Price
print(sale_prize.head())

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

#### 3. Use the head command to print out the top few lines of the variable you just created.

#### 4. Pick any two variables and store them to a new DataFrame (as you saw above to create two_columns_of_data.)

In [21]:
columns_of_select = ['Type', 'Price']
two_columns_of_data = melbourne_data[columns_of_interest]
print(melbourne_data[columns_of_select].head())

  Type      Price
0    h  1480000.0
1    h  1035000.0
2    h  1465000.0
3    h   850000.0
4    h  1600000.0

#### 5. Use the describe command with the DataFrame you just created to see summaries of those variables.

In [22]:
melbourne_data[columns_of_interest].mean()

Landsize        558.416127
BuildingArea    151.967650
dtype: float64

In [23]:
melbourne_data[columns_of_interest].sum()

Landsize        7.583291e+06
BuildingArea    1.083529e+06
dtype: float64

In [25]:
melbourne_data[columns_of_interest].count()

Landsize        13580
BuildingArea     7130
dtype: int64

In [26]:
melbourne_data[columns_of_interest].max()

Landsize        433014.0
BuildingArea     44515.0
dtype: float64